.vertical-line {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 8px;
  border-left: 2px solid rgb(195, 199, 207);
  height: 30px;
}

.navdropimg {
  height: 40px;
  width: 40px;
}

.headnav {
  margin-bottom: 0;
}

.bodydropnav {
  max-width: 300px;
  white-space: pre-line;
}

.coinfo {
  background-color: #425B76;
  font-size: 1rem;
}

.colorcontain {
  width: 100%;
  height: 650px;
  background-color: #FEF6EF;
  background-image: url('https://www.hubspot.com/hubfs/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.colorbuffer {
  width: 100%;
  height: 150px;
  padding-top: 15vh;
  background-color: #FEF6EF;
}

.colorbody {
  max-width: 400px;
  white-space: pre-line;
  color: #33475B;
  margin-left: 10vw;
}

.colortext {
  padding-top: 25px;
  font-size: 1.1rem;
}

.mainheading {
  font-size: 3rem;
}

.colorfooter {
  max-width: 200px;
  font-size: 0.9rem;
  padding-top: 30px;
}

.cardcontainer {
  background-color: #F5F8FA;
  width: 100%;
  padding-bottom: 60px;
  color: #33475B;
}

.headtitle {
  font-size: 2.5rem;
}

.headbody {
  font-size: 1.1rem;
}

.cardtitle {
  font-size: 1.3rem;
}

.titleimg {
  height: 40px;
  width: 40px;
}

.checkimg {
  height: 25px;
  width: 25px;
}

.cardsubtitle {
  font-size: 0.9rem;
  color: #425B76;
}

.compcontian {
  background: rgb(0,172,181);
  background: linear-gradient(90deg, rgba(0,172,181,1) 24%, rgba(0,185,169,1) 95%);
  color: white;
}

.records {
  margin-top: 150px;
  margin-bottom: 150px;
  color: #33475B;
}

.recdet {
  font-size: 1.1rem;
  color: #425B76;
}

.recimg {
  margin-left: 50%;
  height: 120px;
}

.girlimg {
  height: 100%;
  width: 20vw;
  float: right;
}

.comptext {
  font-size: 1.1rem;
}

.personcontain {
  margin-bottom: 100px;
}

.compimg{
  height: 375px;
  width: 1100px;
  margin-left: 13vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.compbody {
  max-width: 70%;
  text-align: center;
  white-space: pre-line;
  padding-top: 100px;
  padding-left: 25%;
}

.footercontain {
  width: 100%;
  height: 100%;
  background-color: #33475B;
}

.lists {
  padding-top: 70px;
}

.fottitle {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.footermenu {
  display: block;
  margin-bottom: 20px;
  color: #CBD6E2;
  text-decoration: none;
}

.footermenu:hover {
  color:#CFFFFF;
  text-decoration: none;
}